.player {
    width: 130px;
	height:130px;
	margin: 120px auto;
	position: relative;
	border-radius: 100px;
    border: 1px solid #ffffff7a;
    overflow: hidden;
}

.player .letter {
	color: #ffffff6c;
    position: absolute;
    transform:  translateY(-25%);
    top: -50%;
    height: 0;
    height: 100%;
    width: 100%;
	font-size: 80px;
	text-align: center;
	font-weight: 100;
}

.letter-selected h4 {
	color: #ffffff;
}

.pl-selected {
    border: 1px solid #ffffff;
}




.count-down {
    position: absolute;
    left: 0;
     width: 100%;
     height: 100%;
     background-image : linear-gradient(#b53f25cc, #000000);
     transition: 0.5s linear;
     opacity: 0.2;
     transition: 0.2s;
}

.player-turn {
    opacity: 0.8;
}



