.check {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bolder;
    z-index: 100;
    text-align: center;
    color: brown;
    transition: 1s;
}